@font-face {
	font-family: AvenirNext;
	src: url(../fonts/AvenirNextCyr-Bold.ttf);
}

html {
	font-size: 16px;	
}

body {
	background: url(../img/background.png) no-repeat center center fixed;
	background-size: cover;
	font-family: AvenirNext;
	line-height: 12px;
	color: rgb(255,255,255);
	font-weight: bold;
	text-transform: uppercase;
}

.flex {
	display: flex;
}

.container {
	flex-wrap: wrap;
	max-width: 612px;
	max-height: 408px;
	
	box-shadow: 0 0 25px rgba(0,0,0,0.5);
	
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.block:not(.fifth) {
	
	flex-basis: 204px;
	
	align-items: center;
	justify-content: center;
	flex-direction: column;
	align-content: stretch;
	flex-grow: 1;
}



picture {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

#fifth {
	margin: auto;
}

ul {
	background-color: #bc3459;
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 50%;
	padding: 0;
	margin: 0;
	bottom: 0;
}

li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	max-width: 25%;
	font-size: .75rem;
}

.first {
	background-color: #05b3db;
	text-shadow: 0px 1px 0px rgba(6,179,219,0.75);
}

.second {
	background-color: #4ed385;
	text-shadow: 0px 1px 0px rgba(77,209,132,0.75);
}

.third {
	background-color: #6038f5;
	text-shadow: 0px 1px 0px rgba(97,57,246,0.75);
}

.fourth {
	background-color: #e3b63d;
	text-shadow: 0px 1px 0px rgba(227,182,61,0.75);
}

.fifth {
	background-color: #dc3d66;
	text-shadow: 0px 1px 0px rgba(220,61,102,0.75);

	flex-basis: 204px;
	
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	flex-grow: 1;
}

.sixth {
	background-color: #bd53cd;
	text-shadow: 0px 1px 0px rgba(189,84,205,0.75);
}
